<!-- INCLUDEJS jquery.jcountdown.js -->
<script type="text/javascript">
// <![CDATA[
$(document).ready(function(){

$("#member").countdown({
		date: '{MEMBER_FOR}',
		leadingZero: false,
		yearsAndMonths: true,
		htmlTemplate: "<span class='cd-online'></span> <strong>%y</strong> <span class=\"cd-online\">{LA_YEARS}</span> <strong>%m</strong> <span class=\"cd-online\">{LA_MONTHS}</span>	<strong>%d</strong> <span class=\"cd-online\">{LA_DAYS}</span> <strong>%h</strong> <span class=\"cd-online\">{LA_HOURS}</span> <strong>%i</strong> <span class=\"cd-online\">{LA_MINUTES} {LA_AND}</span> <strong>%s</strong> <span class=\"cd-online\">{LA_SECONDS}</span>",
		direction: "up"
	});
	});

// ]]>
</script>